# all editor configuration files must be excluded from this project

# Default ignored files
/shelf/
/workspace.xml

# Testing save files of the programm
/Money

# ignore intelliJ
out
*.iml
src/META-INF
.idea
.gradle